/* WorkoutList.module.css */
.workoutList {
    text-align: center;
  }
  
  select,
  input {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .addButton {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #357abd;
  }
  